<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle or siteData.name }}</title>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; font-src 'self'; connect-src 'self'; model-src 'self' *;">
    
    <!-- Google Fonts -->
    <link rel="stylesheet" href="/assets/vendor/fonts.css">
    
    <!-- Styles -->
    <link rel="stylesheet" href="/assets/css/styles.css">
    
    <!-- Polyfills -->
    <script src="/assets/js/focus-visible.js" defer></script>
  </head>
  <body>
    <!-- Header removed -->


    <main>
        {{ content | safe }}
    </main>

    <!-- Scripts -->
    <script src="/assets/js/app.js"></script>
    <script type="module" src="/assets/vendor/model-viewer.min.js"></script>
  </body>
</html>